

nav ul{
 padding-left: 0px;
}


a{
    color : orangered;
}

body{
    background-color: black;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
     color: orangered;
}
header{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    color: blue

}